<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글</title>
  </head>

  <body>
    <h1 onclick="location.href='/'">게시글 목록</h1>
    <hr />
    <div>
        <% item.forEach(function(data) { %>
  
        <div style="display: inline-block">
          <p>
            <img
              src="data:data/<%=data.img.contentType%>;base64,
                           <%=data.img.data.toString('base64')%>"
              width="200px"
              height="200px"
            />
            <div onclick="location.href='/<%=data.id%>'">
              <h5>제목 : <%= data.title %></h5>
              <p>내용 : <%= data.desc %></p>
            </div>
          </p>
          <button onclick="location.href='/updatePost/<%=data.id%>'">수정</button>
          <button class="delete" data-id="<%=data.id%>">삭제</button>
        </div>
        <% }) %>
      </div>
  </body>
</html>
