<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글</title>
  </head>

  <body>
    <h1 onclick="location.href='/'">게시글 목록</h1>
    <hr />
    <div>
      <div style="display: inline-block">
        <div>
          <% if(item.img) { %>
          <img
            src="data:item/<%=item.img.contentType%>;base64,
                     <%=item.img.data.toString('base64')%>"
            width="200px"
            height="200px"
          />
          <% }%>
          <div>
            <h5>제목 : <%= item.title %></h5>
            <p>내용 : <%= item.desc %></p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <h1>댓글작성</h1>
    <form action="/createComment/<%=item.id %>" method="POST">
      <div>
        <label> 내용: </label>
        <textarea id="text" name="comment" value="" rows="2"> </textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>

    <h1>댓글</h1>
    <% if(comment){ %> <% comment.forEach(function(data) { %>
    <li><%= data.text %> <%= data.createdAt %></li>
    <% }) %> <% } %>
  </body>
</html>
