<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 작성</title>
  </head>

  <body>
    <h1>게시글 작성 페이지</h1>
    <hr />
    <div>
      <form
        action="/updatePost/<%= item.id %>"
        method="POST"
        enctype="multipart/form-data"
      >
        <div>
          <label for="title">제목</label>
          <input
            type="text"
            id="title"
            placeholder="<%= item.title%>"
            value="<%= item.title%>"
            name="title"
            required
          />
        </div>
        <div>
          <label for="desc">내용</label>
          <input
            id="desc"
            name="desc"
            value="<%= item.desc %>"
            rows="1"
            placeholder="<%= item.desc %>"
            required
          >
          </input>
        </div>
        <div>
          <label for="image">이미지 업로드</label>
          <input type="file" id="image" name="image" value="" required />
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>

    <hr />
  </body>
</html>
